@{

    var ShippingAgent = (IEnumerable<SelectListItem>)ViewData["ShippingAgent"];

    var PortAndTerminal = (IEnumerable<SelectListItem>)ViewData["PortAndTerminal"];

    //var Vessels = (IEnumerable<SelectListItem>)ViewData["Vessels"];


}
<script src="~/js/app.js/PreAlertView.js"></script>

<style>


    .error {
        color: red;
    }



    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }
</style>

<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Pre Alert</h3>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content" id="odform">
                    <form class="form-horizontal form-label-left" id="PrealterForm">



                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Pre Alert
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12" id="prealertNumber" name="PreAlertNumber" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Alert Date
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @(Html.DevExtreme().DateBox()
                                       .Type(DateBoxType.Date)
                                       .DisplayFormat("dd / MM / YYYY")
                                       .Value(DateTime.Now)
                                       .Name("PreAlertDate")
                                       .ID("prealertDate")
                                       .Width("300px")
                                        )
                                        <span class="error" id="prealertDateerror"></span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Principal
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("ShippingAgentId", ShippingAgent, "Select Principal", new { @class = "form-control select2", @id = "shippingAgent", @required = "required" })
                                        <span class="error" id="ShippingAgenterror" style="padding:10px"></span>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="form-horizontal form-label-left row">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Line / F.F
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("ShippingAgentLineId", ShippingAgent, "Select Line", new { @class = "form-control select2", @id = "line", @required = "required" })
                                        <span class="error" id="Lineerror" style="padding:10px"></span>
                                    </div>


                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Vessel
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @* @Html.DropDownList("PreAlertVesselId", Vessels, "Select Vessel ", new { @class = "form-control select2", @id = "vesselName", @required = "required"  })*@
                                        <input type="text" class="form-control col-md-7 col-xs-12" id="Vessel" name="Vessel" required>
                                        @*<span class="error" id="VesselNameerror"></span>*@
                                        <span class="error" id="Vesselerror"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Voyage
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @*<div class="" id="voyageSelectBox"> </div>*@
                                        <input type="text" class="form-control col-md-7 col-xs-12" id="Voyage" name="Voyage" required>
                                        @*<span class="error" id="voyageNumbererror"></span>*@
                                        <span class="error" id="Voyageerror"></span>
                                    </div>
                                </div>
                            </div>





                        </div>

                        <div class="form-horizontal form-label-left row">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Port
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("PortAndTerminalId", PortAndTerminal, "Select Port", new { @class = "form-control select2", @id = "portAndTerminal", @required = "required" })
                                        <span class="error" id="PortAndTerminalerror"></span>

                                    </div>
                                </div>
                            </div>



                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        ETA Date
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @(Html.DevExtreme().DateBox()
                                            .Type(DateBoxType.Date)
                                            .DisplayFormat("dd / MM / YYYY")
                                            .Value(DateTime.Now)
                                            .Name("ETADate")
                                            .ID("etaDate")
                                            .Width("300px")
                                                )
                                        <span class="error" id="etaDateerror"></span>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </form>

                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <div id="prealertdetails"></div>
                                    <div class="ln_solid"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" id="btnCancel" class="btn btn-primary" onClick="restform()" style="float:right;">Cancel</button>
                            <button id="btnSubmit" type="button" onclick="submitPreAlert()" class="btn btn-success" style="float:right;">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $('.select2').select2();
     
</script> 
