@{
    var VesselExport = (IEnumerable<SelectListItem>)ViewData["VesselExport"];
    var VoyageExport = (IEnumerable<SelectListItem>)ViewData["VoyageExport"];
    var Commodity = (IEnumerable<SelectListItem>)ViewData["Commodity"];
    var PortAndTerminal = (IEnumerable<SelectListItem>)ViewData["PortAndTerminal"];
    var CityOfDischarge = (IEnumerable<SelectListItem>)ViewData["CityOfDischarge"];
    var CountryOfDischarge = (IEnumerable<SelectListItem>)ViewData["CountryOfDischarge"];

}

<style>


    .error {
        color: red;
    }



    #error {
        visibility: hidden;
        width: 200px;
        background-color: #d25656;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        z-index: 1;
        font-size: 17px;
    }

        #error.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }


    input[type="date"] {
        color: #fff;
        position: relative;
    }

        input[type="date"]::-webkit-datetime-edit-year-field {
            position: absolute !important;
            border-left: 1px solid #8c8c8c;
            padding: 2px;
            color: #000;
            left: 56px;
        }

        input[type="date"]::-webkit-datetime-edit-month-field {
            position: absolute !important;
            border-left: 1px solid #8c8c8c;
            padding: 2px;
            color: #000;
            left: 26px;
        }


        input[type="date"]::-webkit-datetime-edit-day-field {
            position: absolute !important;
            color: #000;
            padding: 2px;
            left: 4px;
        }
</style>
<script src="~/js/app.js/CargoView.js"></script>
<div class="right_col" role="main">
    <div class="page-title">
        <div class="row">
            <div class="col-md-11">
                <div class="title_left">
                    <h3>Cargo Receiving Information</h3>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content" id="">

                    <div class="form-horizontal form-label-left row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    GD-Number: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @(Html.DevExtreme()
                                          .Autocomplete()
                                          .ID("GDNumber")
                                          .DataSource(d => d.Mvc()
                                          .Controller("APICalls")
                                          .Area("")
                                          .LoadAction("GetGDNumbers"))
                                          .Placeholder("Type GDNumber...")
                                          .OnValueChanged("gdNumber_changed"))
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="name">
                                    LP Number: <span class="required">*</span>
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">

                                    @(Html.DevExtreme()
                                        .SelectBox()
                                        .ID("LPNumber")
                                        .ValueExpr("value")
                                        .DisplayExpr("text")
                                        .AcceptCustomValue(true)
                                        .SearchEnabled(true)
                                        .DataSource(d => d.Mvc()
                                        .Controller("APICalls")
                                        .Area("")
                                        .LoadAction("GetLoadingProgramNumbers"))
                                        .Placeholder("Type Loading Program ...")
                                        .OnValueChanged("loadingProgramNumber_changed"))

                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12" id="LPNumber">


                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                    PO No
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12" id="searchBox">


                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                        </div>


                    </div>

                    <div class="form-horizontal form-label-left row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                    Shipment Status
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" id="packageType" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                    Vehicle Number
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" id="vehicleNumber" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                    Clearing Agent
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" id="clearingAgent" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal form-label-left row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                    Shipper
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" id="shipper" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                    Consignee
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" id="consignee" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                    Packages Received
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="text" class="form-control" id="packagesReceived" readonly>
                                </div>
                            </div>
                        </div>


                    </div>



                    <div class="form-horizontal form-label-left row">


                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                    Cargo Received Date
                                </label>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="date" class="form-control" id="cargoReceivedDate" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div id="loadingProgramDetal"></div>
                    <div class="ln_solid"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content" id="">

                    <form class="form-horizontal form-label-left" id="CargoForm">

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        PO Number:
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <div class="col-sm-4"> <h5 id="pono">  </h5> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal form-label-left row">


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Received For
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("PortAndTerminalId", PortAndTerminal, "Select Loading Terminal", new { @class = "form-control", @id = "loadingTeminal", @readonly = "readonly" })
                                        <span class="error" id="PortAndTerminalerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Final Destination
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("finalDestination", CityOfDischarge, "Select Final Destination", new { @class = "form-control", @id = "finalDestination" })
                                        <span class="error" id="FinalDestinationerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Discharge Port
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("DishargePort", CityOfDischarge, "Select Discharge Port", new { @class = "form-control", @id = "dischargePort" })
                                        <span class="error" id="DishargePorterror"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Vessel
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("VesselExportId", VesselExport, "Select Vessel", new { @class = "form-control", @id = "vesselExport", @readonly = "readonly" })
                                        <span class="error" id="VesselExporterror"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Voyage
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("VoyageExportId", VoyageExport, "Select Voyage", new { @class = "form-control", @id = "voyageExport", @readonly = "readonly" })
                                        <span class="error" id="VoyageExporterror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Commodity
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        @Html.DropDownList("CommodityId", Commodity, "Select Commodity", new { @class = "form-control", @id = "commodity", @required = "required" })
                                        <span class="error" id="Commodityerror"></span>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        PLID Number
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" id="plidNumber" class="form-control" name="PLIDNumber">
                                        <span class="error" id="PLIDNumbererror"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Warehouse Location
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" id="warehouseLocation" class="form-control" name="WarehouseLocation">
                                        <span class="error" id="WarehouseLocationerror"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        CBM
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="number" step="any" id="cbm" class="form-control" name="CBM" required>
                                        <span class="error" id="CBMerror"></span>
                                    </div>
                                </div>
                            </div>





                        </div>

                        <div class="form-horizontal form-label-left row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Weight
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="number" step="any" id="weight" class="form-control" name="Weight" required>
                                        <span class="error" id="Weighterror"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Location
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" id="location" class="form-control" name="Location" required>
                                        <span class="error" id="Locationerror"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="name">
                                        Color Code
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="text" id="colorcode" class="form-control" name="ColorCode">
                                        <span class="error" id="ColorCodeerror"></span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="form-horizontal form-label-left row">

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">
                                        Package Received
                                    </label>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <input type="number" id="packageReceived" class="form-control" name="PackageReceived" required>
                                        <span class="error" id="PackageReceivederror"></span>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </form>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" id="btnCancel" class="btn btn-primary" onclick="restform()" style="float:right;">Cancel</button>
                            <button id="btnSubmit" type="button" style="float:right;" onclick="AddCargo()" class="btn btn-success">Submit</button>
                            <a id="btnSubmitUpdate" class="btn btn-success" onclick="updateCargo()" style="display:none ; float: right;">Update</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>

