@model UsersViewModel


<script>
    $(function () {

        $('#ChangePass').submit(function (e) {

            if ($('#NewPassword').val() !== $('#ReNewPassword').val()) {

                $('#errorspan').html('Passwords do not match');

                e.preventDefault();
            }
        });
    });

    function RouteToProfile()
    {
        window.open('/ProfileSettings/Profile','_self');
    }


    //function hello() {

    //    var ForPass = document.getElementById('ChangePasswordForm');
    //    console.log(ForPass);


    //    var CurrentPassword = document.getElementById('CurrentPassword').value;
    //    var NewPassword = document.getElementById('NewPassword').value;
    //    var ReNewPassword = document.getElementById('ReNewPassword').value;
    //    console.log('hello')
    //    if (CurrentPassword != '' && NewPassword != '' && ReNewPassword != '') {

        
    //        $.ajax({
    //            type: "post",
    //            data: {
    //                CurrentPassword: CurrentPassword,
    //                NewPassword: NewPassword,
    //            },
    //            url: "/ProfileSettings/UpdatePassword",
    //            success: function (data) {
    //                if (data.succeeded == false) {
    //                    console.log(data);
    //                    alert(data.errors[0].description);

    //                }
    //                if (data.succeeded == true) {
    //                    alert("Password successfully updated message");
    //                    window.open('/ProfileSettings/Edit, ', '_self');
    //                }
    //            },
    //            error: function (data) {
    //                console.log(data);
    //                alert("error message" + data.errors);
    //            }
            
    //        //statusCode: {
    //        //    401: function (document) {
    //        //        location.href = '/Account/Login/?returnUrl=' + document.URL;
    //        //    }
    //        //}
    //        });
    //    } else {
    //        alert('fields are empty')
    //    }
       
    //}

</script>



<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>Profile Setting</h3>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">

                <div class="x_content">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img">
                            <div id="crop-avatar">
                                <img class="img-responsive avatar-view" src="~/images/image_preview.png" alt="Avatar" title="Change the avatar">
                            </div>
                        </div>
                        <h3 style="text-align:center;">@Model.FirstName @Model.LastName</h3>





                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">

                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-bars"></i> Update Profile</h2>

                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">


                                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                        <li role="presentation" class="active">
                                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Personal Info</a>
                                        </li>
                                        <li role="presentation" class="">
                                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Change Password</a>
                                        </li>

                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                            <form class="form-horizontal form-label-left input_mask" method="post">

                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Mohammad Ali" value="@Model.FirstName" asp-for="FirstName">
                                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" class="form-control" id="inputSuccess3" placeholder="Khan" value="@Model.LastName" asp-for="LastName">
                                                    <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="m.alikhan@gmail.com" value="@Model.Email" asp-for="Email">
                                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                                </div>

                                                <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <input type="text" class="form-control" id="inputSuccess5" placeholder="0300 1234567" value="@Model.ContactNo" asp-for="ContactNo">
                                                    <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                                                </div>

                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">CNIC</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input type="text" class="form-control" placeholder="" value="@Model.CNIC" asp-for="CNIC">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                                        Date Of Birth <span class="">*</span>
                                                    </label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input class="date-picker form-control col-md-7 col-xs-12" type="date" required="required" value="@Model.DateOfBirth" asp-for="DateOfBirth">
                                                    </div>
                                                </div>

                                                    <div class="ln_solid"></div>
                                                    <div class="form-group">
                                                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                            <button  type="button" class="btn btn-primary" onclick="RouteToProfile()">Cancel</button>

                                                            <button type="submit" class="btn btn-success">Update</button>
                                                        </div>
                                                    </div>

                                            </form>
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                                            <form asp-controller="ProfileSettings" asp-action="UpdatePassword" method="post" id="ChangePass" class="form-horizontal form-label-left input_mask">
                                                @*<div asp-validation-summary="All" class="text-danger"></div>*@


                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Current Password</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input type="password" class="form-control" id="CurrentPassword" asp-for="@Model.CurrentPassword"  required>
                                                        @*<span asp-validation-for="CurrentPassword"></span>*@
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">New Password</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input type="password" class="form-control" id="NewPassword" asp-for="@Model.NewPassword"  required="required">
                                                        @*  <span asp-validation-for="NewPassword"></span>*@
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Re-type New Password</label>
                                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                                        <input type="password" class="form-control" id="ReNewPassword" asp-for="@Model.ReNewPassword"  required="required">
                                                        @* <span asp-validation-for="ReNewPassword"></span>*@
                                                    </div>
                                                </div>
                                                <span style="color:red;" id="errorspan"></span>


                                                <div class="ln_solid"></div>
                                                <div class="form-group">
                                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                        <button type="button" id="btnCancel" class="btn btn-primary" onclick="RouteToProfile()">Cancel</button>

                                                        <button type="submit" id="btnSubmit" class="btn btn-success" >Change Password</button>

                                                    </div>
                                                </div>

                                            </form>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

